<h1>Editing <%= @student.first_name %> <%= @student.last_name %></h1>
<p>Find me in app/views/students/edit.html.erb</p>
<div class="warning"><%= flash[:errors] %></div>
<form action="/dojos/<%= @dojo.id %>/students/<%= @student.id %>" method='post'>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="put">
<label for="first_name">First Name:</label>
<input type="text" name="student[first_name]" value="<%= @student.first_name %>"><br>
<label for="last_name">Last Name:</label>
<input type="text" name="student[last_name]" value="<%= @student.last_name %>"><br>
<label for="email">Email:</label>
<input type="text" name="student[email]" value="<%= @student.email %>"><br>
<select name="student[dojo_id]" value="<%= @student.dojo_id %>">
    <option value="<%= @dojo.id %>"><%= @dojo.branch %></option>
    <% @dojos.each do |dojo| %>
    <option value="<%= dojo.id %>"><%= dojo.branch %></option>
    <% end %>
</select>
<input type="submit" value="Update">
</form>